.bottom-bar {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  max-width: 90vw;
  margin: 5px auto;
}

#alive {
  font-weight: 700;
}

#restart {
  cursor: pointer;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}

#restart:active {
  background-color: white;
}

#progress {
  cursor: pointer;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid black;
}

#progress:active {
  background-color: white;
}

#autoplay {
  width: 90px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b0d3ff;
  border: 1px solid black;
}

#autoplay:active {
  background-color: #b0faff;
}
