.navbar-wrapper {
  height: 30px;
  background-color: #b0d3ff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-weight: 700;
  color: #112a46;
  font-size: 18px;
  line-height: 30px;
}

.active {
  background-color: #b0faff;
}

.nav-link {
  display: block;
  width: 33vw;
  text-align: center;
}
